<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crud</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    
<div class="contenedor">

    <h2>
        REGISTRO DE USUARIO
    </h2>

    <form method="POST">
        <input type="text" placeholder="Ingrese un nombre" name="nombre"></input>
        <input type="text" placeholder="Ingrese un email" name="correo"></input>

        <button>Registrar</button>
    </form>
    <table>

    </table>


</div>


</body>
</html>