<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crud</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    
<div class="contenedor">

    <h2 style="color: rgb(255, 255, 255);">USUARIO A EDITAR</h2>
    <form method="POST">

        <input type="text" placeholder="Ingrese un nombre" name="nombre", required>
        <input type="text" placeholder="Ingrese un email" name="correo", required>

        <button>Registrar</button>
    </form>
    <table>
        <tr><th>id</th><th>nombre usuario</th><th>correo usuario</th><th>acciones</th></tr>
        {% for persona in usuario   %}
        <tr>
            <td>{{ persona.id }}</td>
            <td>{{ persona.nombre }}</td>
            <td>{{ persona.correo }}</td>
            <td><a href="/?eliminar={{ persona.id }}">eliminar</a></td>
        </tr>

        {% endfor %}
    </table>


</div>


</body>
</html>